.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
td {
  width: 100px;
  height: 25px;
  border: 1px solid black;
  padding: 5px;
}

.player {
  background-color: yellowgreen;
}

.game {
  background-color: beige;
}

form {
  width: 50%;
}

.slider-wrapper {
  display: flex;
  margin: 60px 20px;
}

.slider {
  flex: 1;
  margin-left: 20px;
}

.slider-wrapper label {
  width: 150px;
  text-align: right;
}
