.mainArea {
  width: 1000px;
  padding: 10px;
  border: 1px solid black;
}

fieldset {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scorepad {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.game {
  font-weight: bold;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 4em;
  height: 4em;
  border-radius: 2.5em;
  margin-right: 1em;
}
