.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
td {
  width: 100px;
  height: 25px;
  border: 1px solid black;
  padding: 5px;
}

.player {
  background-color: yellowgreen;
}

.game {
  background-color: beige;
}

.write-blog {
  width: 25%;
  padding: 15px;
}

.write-div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.write-input {
  flex: 1;
  margin-right: 5px;
}

#special-points {
  margin-left: 5px;
}

.write-score {
  display: flex;
  margin-bottom: 50px;
}

.write-score label {
  width: 80px;
  text-align: right;
}

.write-slider {
  flex: 1;
  margin-left: 20px;
}

.noUi-value {
  top: 15px;
}
