.mainArea {
  width: 1000px;
  padding: 10px;
  border: 1px solid black;
}

fieldset {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
td {
  width: 100px;
  height: 25px;
  border: 1px solid black;
  padding: 5px;
}

.player {
  background-color: yellowgreen;
}

.game {
  background-color: beige;
}
