.player-flexbox {
  display: flex;
  align-items: center;
}

.player-item {
  width: 20%;
}

.player-button {
  margin-left: auto;
}

.delete-button {
  margin-left: 10px;
}

.player-picture {
  margin: 1em;
}
