.term {
  text-transform: capitalize;
}

.match-form fieldset {
  border: 0;
}

.match-text {
  font-size: large;
}

.match-table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.match-table td,
.match-table th {
  border: 2px solid black;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-transform: capitalize;
}

.player-picture {
  vertical-align: middle;
}
