.match-container {
  background-image: url("/jank/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.term {
  text-transform: capitalize;
}

.header {
  margin: 5px;
}

.header a {
  color: black;
  float: right;
  font-size: small;
  text-decoration: none;
}

.match-form fieldset {
  border: 0;
}

.match-text {
  font-size: large;
}

.match-table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.match-table td,
.match-table th {
  border: 2px solid black;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}

.match-row {
  display: flex;
}

.player-picture {
  vertical-align: middle;
  border-width: 5px;
  border-color: gray;
  border-style: solid;
}

.ready .player-picture {
  border-color: green;
}

.pending .player-picture {
  border-color: #ffa500;
}

.disconnected .player-picture {
  border-color: red;
}

.score {
  font-weight: bold;
}

.score-positive {
  color: green;
}

.score-negative {
  color: red;
}

.score-zero {
  color: black;
}

.score-gif {
  margin-left: 25px;
  vertical-align: middle;
  width: 200px;
}

.toast {
  position: fixed;
  top: 0;
  left: 25%;
  right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
  padding: 30px;
  font-size: large;
  font-weight: bold;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: top 2s ease-out;
}

.toast.hidden {
  top: -200px;
}