.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
.table td {
  width: 13%;
  height: 25px;
  padding: 5px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.table td {
  border-width: 1px;
}

.table th {
  border-width: 3px 1px;
}

.table-header {
  background-color: rgb(12, 240, 126);
}

.header-content,
.player-item {
  display: inline-flex;
  align-items: center;
}

#dealer {
  margin-left: 10px;
}

.player-header {
  background-color: rgb(127, 161, 47);
}

.scoreCell {
  background-color: rgb(225, 225, 243);
}

.playerCell {
  background-color: rgb(235, 222, 112);
}

.winnerCell {
  background-color: rgb(128, 211, 211);
}

.new-round td {
  border-bottom-width: 3px;
}

.game {
  background-color: rgb(141, 113, 233);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
}

.write-blog {
  width: 50%;
  margin: 0 auto;
  padding: 10px 30px;
  background: rgb(255, 230, 175);
}

.write-div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.write-input {
  flex: 1;
  margin-right: 5px;
}

#special-points {
  margin-left: 5px;
}

.write-points {
  display: flex;
  margin-bottom: 75px;
}

.write-points label {
  width: 80px;
  text-align: right;
}

.write-slider {
  flex: 1;
  margin-left: 20px;
}

.noUi-value {
  top: 15px;
}

.buttons {
  margin: 10px 20px 0 0;
  padding: 5px;
}
