.player-flexbox {
  display: flex;
  align-items: center;
}

.player-item {
  width: 450px;
}

.player-buttons {
  margin-left: auto;
}

.player-picture {
  margin: 10px;
}

button {
  padding: 5px;
  margin-right: 20px;
}
