.player-flexbox {
  display: flex;
  align-items: center;
}

.player-item {
  width: 450px;
}

.player-buttons {
  margin-left: auto;
}

.delete-button {
  margin-left: 10px;
}

.player-picture {
  margin: 10px;
}
